@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html {
    font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    background-color: rgb(225, 226, 226);
}

form {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input,
h1 {
    margin: 0.3rem 0 1rem 0;
}

h1,
textarea {
    margin: 1rem;
}